@model DocViewModel

@await Html.PartialAsync("~/Areas/Admins/Views/Shared/_MenuForAdminPanel.cshtml")

<h1>Админ. панель > Врачи</h1>

<br /><br />


     <div class="container">
        <div class="d-flex">
        <h4>Поиск по значению: @ViewBag.SearchedDoc</h4>

    @if (ViewBag.SearchedDoc != null)
    {
        <a style="margin-left: 10px" class="btn btn-outline-success" asp-action="ClearSearch" asp-controller="DataWorkerDocs"> Очистить</a>
    }
    else
    {
    <form class="d-flex" role="search" asp-action="SearchByTitle" asp-controller="DataWorker">
        <input asp-for="@Model.FIO" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="@ViewBag.SearchedDoc">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <a class="btn btn-outline-success" asp-action="ClearSearch" asp-controller="DataWorkerDocs"> Очистить</a>
      </form>
    }
    </div>
    </div>


<table class="table table-hover">
        <thead>
        <tr class="table-light"><th>Id</th><th>ФИО врача</th><th>Цена приема</th><th>Телефон</th><th>Фото</th><th>Короткое описание</th>
            <th >Полное описание</th><th>Специализации</th><th>Поликлиники</th>
            <td>
            <a asp-action="AddDoc" asp-controller="DataWorkerDocs"><b>Добавить врача</b></a>
            </td>
        </tr>
        </thead>
  <tbody class="table-group-divider">
            @foreach(var doc in Model.Doctors)
            {
               <tr class="table-light">
                <td>
                    @doc.Id
                </td>
                <td>
                    @doc.FIO
                </td>
                <td>
                    @doc.Price
                </td>
                <td>
                    @doc.Phone
                </td>
                <td class="col-md-2">
                    <img style="width:100%" src="@doc.Photo"/>
                </td>
                <td>
                    @doc.ShortDesc
                </td>
                <td>
                    @doc.FullDesc
                </td>
                <td>
                    @foreach(var spec in doc.Specializations)
                    {
                        <p>@spec.Title</p>
                    }
                </td>
                <td>
                    @foreach(var poly in doc.Polyclinics)
                    {
                        <p>@poly.Title</p>
                    }
                </td>
                <td><a asp-action="EditDoc" asp-controller="DataWorkerDocs" asp-route-docId="@doc.Id">Изменить</a></td>
                <td>
                <form method="post" asp-controller="DataWorkerDocs" asp-action="RemoveDoc"  asp-route-docId="@doc.Id">
                    <input type="submit" value="Удалить"/>
                </form>
                </td>
                </tr>
            }
        </table>
        
        <br /><br /><br />


        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
        @if (Model.pageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="SearchByTitle" asp-controller="DataWorkerDocs" asp-route-page="@(Model.pageViewModel.PageNumber - 1)">
                Назад
            </a>
            </li>
        }

        @for (int i = 1; i <= Model.pageViewModel.TotalPages; i++)
        {
            if (Model.pageViewModel.PageNumber == i)
            {
                <li class="page-item active"><a class="page-link" asp-action="SearchByTitle" asp-controller="DataWorkerDocs" asp-route-page="@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="SearchByTitle" asp-controller="DataWorkerDocs" asp-route-page="@i">@i</a></li>  
            }
        }

        @if (Model.pageViewModel.HasNextPage)
        {
          <li class="page-item"><a class="page-link" asp-action="SearchByTitle" asp-controller="DataWorkerDocs" asp-route-page="@(Model.pageViewModel.PageNumber + 1)">Вперед</a></li>
        }
          </ul>
        </nav>