@model MainPageSpecViewModel

<div class="container" >
    <div style="color:#666666">
        Специальность: @Model.Title  
        
            @if(Model.CityOfSpec != null)
            {
                <span>в г. @Model.CityOfSpec.Title</span>
            }
        <p>
            Количество врачей: @Model.TotalDoctors
        </p>
    </div>

    @foreach(var doc in Model.Doctors)
    {
            <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="@doc.Photo" class="img-fluid rounded-start" >
        </div>
        <div class="col-md-8" >
          <div class="card-body">
            <a style="color:black; text-decoration:none;" asp-action="SpecificDoc" asp-controller="Home" asp-route-docId="@doc.Id"><h3 class="card-title"><b>@doc.FIO</b></h3></a>
            <p style="color:#808080">
            @foreach(var spec in doc.Specializations)
                        {
                            <span style="padding-right:8pt">
                            @spec.Title 
                            </span>
                        }
             </p>
            <p class="card-text">@doc.ShortDesc</p>
          </div>
        </div>
      </div>
    </div>

    }


    
                        <br /><br /><br />

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
        @if (Model.pageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="SpecificSpec" asp-controller="Home" 
                asp-route-page="@(Model.pageViewModel.PageNumber - 1)"
                asp-route-specId="@Model.SpecializationId">
                Назад
            </a>
            </li>
        }

        @for (int i = 1; i <= Model.pageViewModel.TotalPages; i++)
        {
            if (Model.pageViewModel.PageNumber == i)
            {
                <li class="page-item active"><a class="page-link" asp-action="SpecificSpec" asp-controller="Home" 
                    asp-route-page="@i"
                    asp-route-specId="@Model.SpecializationId">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="SpecificSpec" asp-controller="Home" 
                    asp-route-page="@i"
                    asp-route-specId="@Model.SpecializationId">@i</a></li>  
            }
        }

        @if (Model.pageViewModel.HasNextPage)
        {
          <li class="page-item"><a class="page-link" asp-action="SpecificSpec" asp-controller="Home" 
              asp-route-page="@(Model.pageViewModel.PageNumber + 1)"
              asp-route-specId="@Model.SpecializationId">Вперед</a></li>
        }
          </ul>
        </nav>

</div>