@model SpecViewModel

@await Html.PartialAsync("~/Areas/Admins/Views/Shared/_MenuForAdminPanel.cshtml")

<h1>Админ. панель > Специализации</h1>

<br /><br />

    <div class="container">
    <form class="d-flex" role="search" asp-action="SearchByTitle" asp-controller="DataWorkerSpec">
        <input asp-for="@Model.Title" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
     </div>

<table class="table table-hover">
        <thead>
        <tr class="table-light"><th>Id</th><th>Название специализации</th><th>Врачи</th>
            <td>
            <a asp-action="AddSpec" asp-controller="DataWorkerSpec"><b>Добавить специализацию</b></a>
            </td>
        </tr>
        </thead>
  <tbody class="table-group-divider">
            @foreach(var spec in Model.Specializations)
            {
               <tr class="table-light">
                <td>
                    @spec.SpecializationId
                </td>
                <td>
                    @spec.Title
                </td>
                <td>
                    @foreach(var doc in spec.Doctors)
                    {
                        <p>@doc.FIO</p>
                    }
                </td>
                <td><a asp-action="EditSpec" asp-controller="DataWorkerSpec" asp-route-specId="@spec.SpecializationId">Изменить</a></td>
                <td>
                <form method="post" asp-controller="DataWorkerSpec" asp-action="RemoveSpec" asp-route-specId="@spec.SpecializationId">
                    <input type="submit" value="Удалить"/>
                </form>
                </td>
                </tr>
            }
        </table>