@model PolyViewModel


<div class="container">
<h1>Админ. панель > Поликлиники > Изменение поликлиники @Model.Title</h1>
<br /><br />

<a asp-action="Polyclinics" asp-controller="DataWorkerPoly">Вернуться ко списку поликлиник</a>
<br />


<form method="post" asp-action="EditPoly" asp-controller="DataWorkerPoly"  enctype="multipart/form-data">
    
        <label asp-for="@Model.Photo">Фото</label> <br />
        <img class="col-md-5" src="@Model.Photo" /> <br />
        <input type="file" class="btn btn-secondary" asp-for="@Model.PhotoToUpload" />
        <br/><br />

        
        <div class="col-md-3">
    <p>
        <label>Идентификатор поликлиники</label><br />
        <input type="text" readonly class="form-control" asp-for="@Model.Id" /><br />
    </p>
        </div>
        <div class="col-md-3">
    <p>
        <label >Название Поликлиники</label> <br />
        
        <input type="text" class="form-control" asp-for="@Model.Title" />
    </p>
        </div>
        <div class="col-md-3">
    <p>
        <label>Город</label>
        <input type="text" readonly class="form-control" asp-for="@Model.City.Title" />
    </p>
        </div>
        <div class="col-md-3">
    <p>
        <label>Адрес</label>
        <input type="text" class="form-control" asp-for="@Model.Adress" />
    </p>
        </div>
        <div class="col-md-3">
    <p>
        <label>Телефон</label>
        <input type="text" class="form-control" asp-for="@Model.Phone" />
    </p>
        </div>
    <p>
        <label>Доктора</label>

        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Добавить врача
  </button>
        <ul class="dropdown-menu">
      @foreach(var docToAdd in Model.OtherDoctors)
      {
        <li><a class="dropdown-item" asp-action="AddDocInPoly" asp-controller="DataWorkerPoly" asp-route-docId="@docToAdd.Id" asp-route-polyId="@Model.Id">@docToAdd.FIO</a></li>
      }
        </ul>
        </div>


         <table class="table table-hover">
            @foreach(var doc in Model.Doctors)
            {
                <tr>
                    <td>
                        @doc.FIO
                    </td>
                    <td>
                        <a asp-controller="DataWorkerPoly" asp-action="RemoveDocInPoly" asp-route-docId="@doc.Id" asp-route-polyId="@Model.Id">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </p>
    
    <p>
        <input class="btn btn-primary" type="submit" value="Сохранить" />
    </p>
</form>
</div>